html, body {
    height: 100%;
	max-width:100%;
    max-height:100%;
	margin: 0 0 0 0;

}


.container {
position:relative;
 min-width:100%;
 min-height:100%;
 max-width:100%;
 max-height:100%;
 
	
}


	

.mainscreen {
position: absolute;
background: blue;
height:1080px;
width:75%;
background-repeat: none;
float:left;

	
	
}


.sidebar {
position: absolute;
left:1802px;
background: green;
height:1238.50px;
width:595px;
background-repeat: none;
float:right;
}



.newstype{
	position: absolute;
	background-color:black;
	top:1080px;
height:159px;
	width:20%;
	
	
}
.news{
	position: absolute;
	background-color:red;
	top:1080px;
	left:476px;
	height:159px;
	width:55%;
	
	
}

.bottom{
	position: absolute;
	background-color:green;
	top:1239px;
	height:50px;
	width:100%;
	
	
}



